.content{
  

    background: black;
    margin-left: 10%;
    margin-right: 10%;
   
}




.header
{
   
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display:flex;

   
}
li{
   
    margin-left: 73px;
    color: white;
}

.container{
    background: black;
}

.content-1{
   
    display:flex;
}

.box1{
   
    width: 50%;
    margin-top: 15%;
    position:relative;
}
.box2{
   
    position:relative;
    margin-left: 80px;
    margin-top: 35px;
}

.disc{
   
    display: flex;
    align-items: center;
}

.para{
   
    width:65%;
    color:white;
    margin-top: 25px;
}

.image{
    position: absolute;
    top: 46px;
    left: 51%;
    height: 30%;
}
.vector{
    position:absolute;
}

.img1{
    position: absolute;
    top: 25px;
    height: 230px;
}

.img2{
    position: absolute;
    top: 78px;
    height: 255px;
   
}

.img3{
    position: absolute;
    top: 40%;
    left: 50px;
    opacity: 0.5;
    height: 170px;
   

}

.img4{
    height: 50px;
    position: absolute;
    top: 77%;
    left: 38px;
}

.img5{
    position: absolute;
    top: 63%;
    left: 270px;
    height: 84px;

}
.robot{
   
    position: absolute;
    top: 32%;
    left: -71px;
}

.a{
    display:flex;
    align-items: center;
    margin-right: 14%;
}

.content-2{
    display:flex;
    margin-top:10%;
}
.content-3{
    display:flex;
    margin-top: 5%;
}

.para1{
   
    color: #FFFFFF;
    width: 70%;
    line-height: 20px;
}

.heading{
    color: white;
   
    width: 75%;
    line-height: 45px;
    font-size: 40px;
    font-style: poppins;
}

.btn{
    padding:10px;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;
    width: 18%;
    margin-top: 10px;
}

.image1{
    position: absolute;
    left: 13%;
    z-index: 3;
    height: 200px;

}

.image2{
    position: absolute;
    top: 134px;
    z-index: 2;
    height: 200px;
}

.btn1{
    position:absolute;
    
}