.content{
  

    background: black;
    margin-left: 10%;
    margin-right: 10%;
   
   
}




.header
{
   
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type: none;
    display: flex;
    margin-top: 3%;

   
}
li{
   
    margin-left: 57px;
    color: white;
}

.container{
    background: black;
}

.content-1{
   
    display:flex;
}

.box1{
   
    width: 50%;
    margin-top: 15%;
    position:relative;
}
.box2{
   
    position:relative;
    margin-left: 20%;
    margin-top: 35px;

}

.disc{
   
    display: flex;
    align-items: center;
}

.para{
   
    width: 80%;
    color: white;
    margin-top: 25px;
    line-height: 25px;
    font-size: 20px;
}

.image{
    position: absolute;
    top: 64px;
    left: 76%;
    height: 30%;
}
.vector{
    position: absolute;
    height: 13%;
    left: -85px;

}

.img1{
    position: absolute;
    top: 25px;
    height: 272px;
    left: -114px;
}

.img2{
    position: absolute;
    top: 78px;
    height: 304px;
    left: -122px;
   
}

.img3{
    position: absolute;
    top: 36%;
    left: -88px;
    opacity: 0.5;
    height: 206px;
   

}

.img4{
    height: 35px;
    position: absolute;
    top: 70%;
    left: -116px;
}

.img5{
    position: absolute;
    top: 60%;
    left: 233px;
    height: 55px;
}
.robot{
   
    position: absolute;
    top: 37%;
    left: -225px;
}

.a{
    display:flex;
    align-items: center;
   
}

.content-2{
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}
.content-3{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.para1{
   
    color: #FFFFFF;
    width: 60%;
    line-height: 25px;
}

.heading{
   
        color: white;
        line-height: 45px;
        font-size: 40px;
       
  
}

.heading4{
    color: white;
    line-height: 45px;
    font-size: 40px;
    width: 60%;
}

.btn{
    padding:10px;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;
    width: 18%;
    margin-top: 10px;
}

.image1{
    position: absolute;
    left: 13%;
    z-index: 3;
    height: 200px;

}

.image2{
    position: absolute;
    top: 134px;
    z-index: 2;
    height: 200px;
}

.btn1{
    position:absolute;
    
}

.box3{
   
 
 width:50%; 
 
 position:relative;
}

.image1{
    position: absolute;
    left: 25%;
}

.image2{
    position:absolute;
    z-index: 1;
}

.btn{
    
    padding: 10px;
    border-radius: 10px;
    background: white;
    width: 50%;
    position: absolute;
    top: 105%;
    left: 34%;
    z-index: 2;
    border: none;
    display: flex;
    align-items: center;
}
.box4{
   
    width:50%;
   
}

.para2{
    color:grey;
    width: 87%;
}
.image3{
    display:flex;
    margin-top: 40px;
}
.min-box{
    margin-top: 10%;
    margin-left: 30%;
}
.content-5{
    display:flex;
    margin-top: 10%;
}

.box5{
   
    width:50%;
    height:400px;
}


.box6{
   
    width:50%;
    height:400px;
    position: relative;
}

.heading1{
    color: white;
    line-height: 50px;
    font-size: 40px;
    width: 75%;
}

.para3{
    color: white;
    width: 70%;
    line-height: 30px;
    font-size: 17px;
    margin-top: 10%;
}

.btn1{
background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
padding: 15px;
border-radius: 5px;
width: 10%;
border: none;

}

.imag1{
    position: absolute;
    top: 120px;
    left: 35%;
    z-index: 1;
}

.imag2{
    position: absolute;
    top: 60px;
    left: 23%;
    z-index: 1;
}

.imag3{
    position: absolute;
    left: 60px;
    z-index: 1;
}

.imag4{
    position: absolute;
    top: 80px;
    z-index: 2;
}

.imag5{
    position: absolute;
    left: 48%;
    top: 34px;
    z-index: 2;
}

.imag6{
    position: absolute;
    bottom: -22px;
    width: 47%;
    left: 17%;
    z-index: 2;
}

.content-6{
    margin-top:10%;
}

.heading2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h1{
   
    color: white;
    width: 30%;
    font-size: 40px;
}

.para4{
    color: grey;
    width: 34%;
    font-size: 18px;
}

.content-7{
    display:flex;
}

.box7{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    display:flex;
    flex-direction:column;
    width:35%;
    margin-top: 5%;

}

.imag7{
    height: 13px;
    width: 16px;
}

.para5{
    color: white;
    width: 67%;
    line-height: 25px;
}

.box8{
    margin-top: 10%;
    margin-left: 10%; 
}

.box9{
   display:flex; 
}

.imag8{
    height: 50px;
}

.info{
    margin-left: 10px;
}

.para6{
    font-size: 18px;
    margin: 0;
    color: white;
}

.para7{
    margin: 0;
    color: grey;
}

.box10{
    display: flex;
    margin-top: 40px;
}

.content-8{
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.imag9{
    height: 40px;
    margin-right: 15%;
}


.imag10{
    height: 30px;
    margin-right:  15%;
}


.imag11{
    height: 30px;
    margin-right:  15%;
}


.imag12{
    height: 30px;
    margin-right: 15%;
}

.content-9{
    background: linear-gradient(144.39deg, #FFFFFF -278.56%, #6D6D6D -78.47%, #11101D 91.61%);
    border-radius:20px;
    margin-top: 5%;

}
.box11{
    
    width: 90%;
    margin-left: 5%;
    display:flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 16px;
}

.para8{
    color: grey;
    width: 52%;
    line-height: 25px;
    font-size: 18px;
}

.heading3{
    color: white;
    font-size: 53px;
}

.content-10{
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.para9{
    color:grey;
}

.para10{
    color:white;
}


.box13{
    display:flex;
    align-items: center;
}

.footer{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}

.para11{
    color: white;
    width: 66%;
    line-height: 25px;

}

.head{
    margin-top: 5%;
}

.line{
    border: 1px solid grey;
   
    margin-top: 15px;
}